
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501405650018'); /* IE9*/
  src: url('iconfont.eot?t=1501405650018#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501405650018') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501405650018') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501405650018#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before { content: "\e62c"; }

.icon-feiji:before { content: "\e676"; }

.icon-yuedu:before { content: "\e60b"; }

.icon-back:before { content: "\e666"; }

.icon-fanhui:before { content: "\e60f"; }

.icon-logo:before { content: "\e606"; }

.icon-github:before { content: "\e600"; }

.icon-huifu:before { content: "\e659"; }

.icon-shouye:before { content: "\e621"; }

.icon-xin:before { content: "\e607"; }

.icon-geren:before { content: "\e675"; }

.icon-zan:before { content: "\e625"; }

.icon-xin1:before { content: "\e609"; }

.icon-guanyu:before { content: "\e608"; }

.icon-time:before { content: "\e64b"; }

.icon-sms:before { content: "\e603"; }

.icon-fanhui-copy:before { content: "\e677"; }

.icon-back-copy:before { content: "\e678"; }

